@{
    ViewBag.Title = "Actualizar Publicidad";
}

@if (ViewData["Advertisng"] != null)
{

    var type = (AmazoniamWillowHotel.Models.Publicidad)ViewData["Advertisng"];
    var base64ImagenHotel = Convert.ToBase64String(type.Imagen1.imagen1);
    string imgSrcImagenHotel = String.Format("data:image/gif;base64,{0}", base64ImagenHotel);

    <h3>Modificar habitación</h3>
    <br />


    using (Html.BeginForm("updateAdvertisingDB", "Advertising", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <input type="hidden" id="id" name="id" class="form-control" value="@type.id"/>
        <div class="form-horizontal">
            <h4>Publicidad</h4>
            <br />
            <div class="row">
                <div class="col-sm-4">
                    @Html.Label("Imagen actual")
                    <br />
                    <img src="@imgSrcImagenHotel" width="70%" />
                    <input type="hidden" id="imagenVieja" name="imagenVieja" class="form-control" value="@type.Imagen1.id_Imagen" />
                </div>
                <div class="col-sm-4">

                    @Html.Label("Link Destino: ")
                    <input id="url" name="url" class="form-control" type="text" value="@type.url" required oninvalid="setCustomValidity('Se requiere una URL para registrar la publicidad')" oninput="setCustomValidity('')" />
                    @Html.Partial("_UploadImage")

                </div>

            </div>
            <div class="row">
                <div class="col-sm-4" style="float: right;">
                    <input type="submit" value="Aceptar" class="btn btn-primary" />
                    @Html.ActionLink("Eliminar", "deleteAdvertising", new { id = type.id, url = type.url, imagenVieja = type.Imagen1.id_Imagen }, new { @class = "btn btn-danger" })
                </div>
            </div>
        </div>
    }
}