@{
    /**/

    ViewBag.Title = "Administrar Habitaciones";
}

<h2>Administrar Habitaciones</h2>
<br />
<br />

@foreach (var item in (List<AmazoniamWillowHotel.Models.Tipo_Habitacion>)ViewData["AdministrarHabitaciones"])
{
    <div class="row">
        <div class="col-sm-9">
            <h3>@item.titulo @Html.ActionLink("cambiar descripción", "modifyRoomType", new { type = item.id })</h3>
            <br />
            <table class="table table-striped w-auto">
                <thead>
                    <tr>
                        <th scope="col">Número de Habitación</th>
                        <th scope="col">Estado</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody id="body">
                    @foreach (var habitacion in (List<AmazoniamWillowHotel.Models.Habitacion>)@item.Habitacion.ToList())
                    {
                    <tr>
                        <td>@habitacion.numero</td>
                        @if (@habitacion.estado == 1)
                        {
                            <td><input type="checkbox" id="@habitacion.id" name="@habitacion.id" checked />
                            @Html.ActionLink("Actualizar estado", "updateState", new { type = habitacion.id })</td>
                        }
                        else
                        {
                            <td>
                                <input type="checkbox" id="@habitacion.id" name="@habitacion.id" />
                                @Html.ActionLink("Actualizar estado", "updateState", new { type = habitacion.id })
                            </td>

                        }
                        <td>Activa?</td>
                    </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
    <br />
    <br />

    <script>

        function actualizarEstados() {

            $.ajax({
                type: 'POST',
                url: "/Admin/updatesRooms",
                dataType: 'json',

                success: function (roomDay) {
                    var data = JSON.stringify(roomDay);
                    for (var i = 0; i < roomDay.length; i++) {
                        bodyTable += "<tr><th scope='row'>" + roomDay[i].numero + "</th>";
                        bodyTable += "<td scope='rowgroup'>" + roomDay[i].tipo + "</td>";
                        bodyTable += "<td scope='rowgroup'>" + roomDay[i].estado + "</td>";
                        bodyTable += "<td scope='rowgroup'>" + roomDay[i].tarifa + "</td></tr>";

                    }
                    $("#body").html(bodyTable);
                },
                error: function (ex) {
                    // md.modal('hide');
                    alert('Fallo al procesar la reservación.' + ex);
                }
            });

        }

    </script>

}
