
@{
    ViewBag.Title = "Modificar habitación";
}

@if (ViewData["information"] != null)
{

    var type = (AmazoniamWillowHotel.Models.Tipo_Habitacion)ViewData["information"];
    var base64ImagenHotel = Convert.ToBase64String(type.Imagen1.imagen1);
    string imgSrcImagenHotel = String.Format("data:image/gif;base64,{0}", base64ImagenHotel);

    <h3>Modificar habitación</h3>
    <br />

    using (Html.BeginForm("updateRoomType", "Admin", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {

        <div class="row">
            <input type="hidden" id="id" name="id" class="form-control" value="@type.id" />
            <div class="col-sm-2">
                @Html.Label(type.titulo)
                <input type="hidden" id="titulo" name="titulo" class="form-control" value="@type.titulo" />
            </div>
            <div class="col-sm-3 text-center">
                @Html.Label("Tarifa diaria: ")
            </div>
            <div class="col-sm-3">
                <input type="number" id="rate" name="rate" class="form-control" value="@type.tarifa" required oninvalid="setCustomValidity('Se requiere una tarifa para el tipo de habitación')" oninput="setCustomValidity('')"/>
            </div>
        </div>
        <br />

        <div class="row">
            <div class="col-sm-12">
                <textarea type="text" id="description" name="description" class="form-control" rows="10" required oninvalid="setCustomValidity('Se requiere una descripción para el tipo de habitación')" oninput="setCustomValidity('')" style="resize: none;">@type.descripcion.Replace("^", "\n")</textarea>
            </div>
        </div>
        <br />

        <div class="row">
            <div class="col-sm-4">
                @Html.Label("Imagen actual")
                <br />
                <img src="@imgSrcImagenHotel" width="100%" />
                <input type="hidden" id="imagenVieja" name="imagenVieja" class="form-control" value="@type.Imagen1.id_Imagen" />
            </div>

            <div class="col-sm-4">
                @Html.Partial("_UploadImage")
            </div>

        </div>

        <div class="row">
            <div class="col-sm-4" style="float: right;">
                <input type="submit" value="Aceptar" class="btn btn-primary" />
                @Html.ActionLink("Cancelar", "ManageRooms", null, new { @class = "btn btn-danger" })
            </div>
        </div>

    }
}
