@model AmazoniamWillowHotel.Models.Tipo_Habitacion

@{
    ViewBag.Title = "insertPromotionView";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

@if (ViewData["Promotion"] != null)
{

    var type = (AmazoniamWillowHotel.Models.Promocion)ViewData["Promotion"];

    <div class="form-horizontal">
        <h4>Promocion</h4>
        <br />
        <input type="hidden" id="promos" name="promos" value="@type.id"/>
        <div class="form-group">
            <label class="control-label col-md-2">Descripción</label>
            <div class="col-md-10">
                <textarea class="form-control" rows="5" id="comment">@type.descripcion</textarea>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2">Descuento</label>
            <div class="col-md-10">
                <input id="idescuento" class="form-control" type="number" value="@type.descuento"/>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2">Fecha incio:</label>
            <div class="col-md-10">
                <input id="iFechaInicio" name="iFechaInicio" class="form-control" type="text" value="@String.Format("{0:dd/MM/yyyy}", type.inicio)" />
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Fecha final:</label>
            <div class="col-md-10">
                <input id="iFechaFinal" name="iFechaFinal" class="form-control" type="text" value="@String.Format("{0:dd/MM/yyyy}", type.fin)"/>
            </div>
        </div>
        <div id="selected" name="selected">
            <label class="control-label col-md-2">Tipo Habitación:</label>
            <select id="habitaciones" name="habitaciones">
                @foreach (var item in (List<AmazoniamWillowHotel.Models.Tipo_Habitacion>)ViewData["Habitaciones"])
                {
                    if (item.id == type.tipoHabitacion)
                    {
                        <option value="@item.id" selected>@item.titulo</option>
                    }
                    else
                    {
                        <option value="@item.id">@item.titulo</option>
                    }
                }
            </select>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="button" onclick="updatePromotion();" value="Aceptar" class="btn btn-primary" />
                <input type="button" onclick="deletePromotion();" value="Eliminar" class="btn btn-danger" />
            </div>
        </div>
    </div>
}

    <script>

        function updatePromotion() {
            var id = document.getElementById("promos").value;
            var comment = document.getElementById("comment").value;
            var idescuento = parseInt(document.getElementById("idescuento").value);
            var iFechaInicio = document.getElementById("iFechaInicio").value;
            var iFechaFinal = document.getElementById("iFechaFinal").value;
            var tipo = $("#habitaciones").val();
            var datos = {
                "id": id, "comment": comment, "idescuento": idescuento,
                "iFechaInicio": iFechaInicio, "iFechaFinal": iFechaFinal, "tipo": tipo
            };
            alert(datos);
            $.ajax({
                type: 'POST',
                url: "/Admin/updatePromotion",
                dataType: 'json',
                data: datos,
                success: function (message) {

                    alert(JSON.stringify(message));

                },
                error: function (ex) {
                    // md.modal('hide');
                    alert('Fallo al procesar la reservación.' + ex);
                }
            });
            location.reload();
        }


        function deletePromotion() {
            var id = document.getElementById("promos").value;

            var datos = { "id": id };
            $.ajax({
                type: 'POST',
                url: "/Admin/DeletePromotion",
                dataType: 'json',
                data: datos,
                success: function (message) {

                    alert(JSON.stringify(message));
                },
                error: function (ex) {
                    // md.modal('hide');
                    alert('Fallo al procesar la reservación.' + ex);
                }
            });
            location.reload();
        }

        $(function () {
            var dateFormat = "dd/mm/yy",
                fechaLlegada = $("#iFechaInicio").datepicker({ minDate: 0, dateFormat: dateFormat })
                    .on("change", function () {
                        var fecha = $("#iFechaInicio").datepicker("getDate");
                        fecha.setDate(fecha.getDate() + 1);
                        fechaSalida.datepicker("option", "minDate", fecha);
                        fechaSalida.datepicker("setDate", "dd/mm/aaaa")
                    }),
                fechaSalida = $("#iFechaFinal").datepicker({ minDate: 0, dateFormat: dateFormat })
                    .on("change", function () {
                        var fecha = $("#iFechaFinal").datepicker("getDate");
                        fecha.setDate(fecha.getDate());
                        fechaLlegada.datepicker("option", "maxDate", fecha);
                    });
        });
    </script>
